/*INICIO DEL HEADER*/
  
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  width: 100vw;
  height: 10vh;
  background-color: rgb(68, 94, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.logo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;


}

.logo img:hover{
  scale: 1.1;
}

.buscador {
  width: 60vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  padding: 15px;
  width: 400px;
  height: 40px;
  border: solid 1px gray;
  border-radius: 30px;
}

.menu__servicios {
  list-style: none;

  width: 30vw;
  display: flex;
  justify-content: space-around;

}

.menu__servicios li a {
  text-decoration: none;
  color: antiquewhite;
}

.menu__servicios li a:hover {
  scale: 1.5;
  color: rgb(209, 221, 217);
}

/*FIN DEL HEADER*/

/* Contenedor Layout General */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* main: incluye sidebar + content */
.main {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos del sidebar */
.sidebar {
  background-color: antiquewhite;
  width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  
  
  
  
}


/* EStilos para el contenido */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* INICIO DE LA TABLA*/
.tabla {
  margin-left: 20%;
  width: 700px;
  height: 380px;
  font-size: 20px;
  border: solid 1px;
  border-radius: 8px;
 
}


caption {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 30px;
  text-align: left;
}

td {
  background: GhostWhite;
  border: solid 1px black;
  text-align: left;
  padding: 10px;
  font-size: 14px;

}

th {
  border: solid 1px black;
  text-align: left;
  padding: 10px;
  background: antiquewhite;
}



.img {
  width: 100px;
  box-shadow: 2px 2px 5px #bbbbbb;
}

/* FIN DE LA TABLA*/

.compartir_boton {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: rgb(68, 94, 141);
}

.compartir_boton a {
  text-decoration: none;
  color: whitesmoke;
}
.compartir_boton:hover{
  background-color: gray;
  scale: 1.1;
}

h3{
  padding: 10px;
}

/* INICIO DEL FOOTER*/
.footer{
  height: 10vh;
  
  background-color: rgb(68, 94, 141);
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer a{
  text-decoration: none;
  color: antiquewhite;

}

.footer a:hover{
  text-decoration: underline;
}
/* FIN DEL FOOTER*/