.body {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  
}

/*INICIO DEL HEADER*/

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  width: 100vw;
  height: 10vh;
  background-color: rgb(68, 94, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.logo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;


}

.logo img:hover{
  scale: 1.1;
}

.buscador {
  width: 60vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  padding: 15px;
  width: 400px;
  height: 40px;
  border: solid 1px gray;
  border-radius: 30px;
}

.menu__servicios {
  list-style: none;

  width: 30vw;
  display: flex;
  justify-content: space-around;

}

.menu__servicios li a {
  text-decoration: none;
  color: antiquewhite;
}

.menu__servicios li a:hover {
  scale: 1.5;
  color: rgb(209, 221, 217);
}

/*FIN DEL HEADER*/

/*----------------------------------*/

/*INICIO DEL MAIN*/


.contenido_categorias{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
  flex-grow: 1;
}

.categorias{
  width: 30vw;
  height: 80vh;
  background-color: rgb(184, 184, 184);
}



.contenido {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;

}

.contenido_h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;

}

.contenido_img {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-evenly;
  align-content: center;

}

.contenido_libro{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 310px;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  gap: 10px;
}

.contenido_libro img{
  width: 100%;
  height: 80%;
  border-radius: 10px;
  border: solid 3px black;
}

.contenido_libro img:hover{
  scale: 1.1;

}


/* FIN DEL MAIN*/
  
  /*--------------------------------*/
  /* INICIO DEL FOOTER*/
  .footer{
    
    height: 10vh;
    background-color: rgb(68, 94, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }