/*INICIO DEL HEADER*/
  
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  width: 100vw;
  height: 10vh;
  background-color: rgb(68, 94, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.logo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;


}

.logo img:hover{
  scale: 1.1;
}

.buscador {
  width: 60vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  padding: 15px;
  width: 400px;
  height: 40px;
  border: solid 1px gray;
  border-radius: 30px;
}

.menu__servicios {
  list-style: none;

  width: 30vw;
  display: flex;
  justify-content: space-around;

}

.menu__servicios li a {
  text-decoration: none;
  color: antiquewhite;
}

.menu__servicios li a:hover {
  scale: 1.5;
  color: rgb(209, 221, 217);
}

  
  /*FIN DEL HEADER*/

/*------------------------------------------------*/

/*INICIO DEL MAIN*/
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: antiquewhite;
  height: 80vh;
  padding-top: 80px;
  padding-left: 40px;
}

.formulario{
  font-size: x-large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.compartir_boton {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: rgb(68, 94, 141);
}

.compartir_boton a {
  text-decoration: none;
  color: whitesmoke;
}
.compartir_boton:hover{
  background-color: gray;
  scale: 1.1;
}

/*FIN DEL MAIN*/

   /* INICIO DEL FOOTER*/
   .footer{
    height: 10vh;
    background-color: rgb(68, 94, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .footer a{
    text-decoration: none;
    color: antiquewhite;

  }

  .footer a:hover{
    text-decoration: underline;
  }